body {background-color: rgb(242, 239, 226); cursor: url('imgs/cursor.png'), auto;}
@font-face {
    font-family: 'Apple Garamond';
    src: url('fonts/AppleGaramond.woff2') format('woff2'), url('fonts/AppleGaramond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Apple Garamond';
    src: url('fonts/AppleGaramondLight-Italic.woff2') format('woff2'),
        url('fonts/AppleGaramondLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Champion';
    src: url('fonts/Champion-HTF-Heavyweight.woff2') format('woff2'),
        url('fonts/Champion-HTF-Heavyweight.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
body {
    cursor: url(cursor3.png), auto;
    margin:0%;
  }
img {
    width:600px; 
    margin-top: 100px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;;
}
div {
    text-align: center}

h1{
    line-height: 15px;
    font-size: 200px; 
    color:rgb(236, 91, 33); 
    font-family:'Apple Garamond'
}

h2{
    line-height: 15px;
    font-size: 80px; 
    display: block;
    color:rgb(236, 91, 33); 
    font-family:'Apple Garamond';
    font-style: italic;
}
.m1{
    background-color:rgb(248, 214, 233);
    
}
.m1{
    font-size: 50px; 
    color:rgb(236, 91, 33); 
    font-family:'Champion';
    direction: left;
}
.m2{
    background-color:rgb(236, 91, 33);
}
.m2{
    font-size: 50px; 
    color:rgb(248, 214, 233); 
    font-family:'Champion';
    direction: right;
}
.p1{
    text-align: justify;
    font-family: "Apple Garamond";
    font-size: 30px;
    color:rgb(236, 91, 33);
    padding-left: 20%;
    padding-right: 20%;
}
body a:hover,
body a:visited {
  cursor: url('cursor3.png'), auto;
}
.bottom{
    cursor: url(cursor3.png), auto;
    font-family: 'Champion';
    color:rgb(236, 91, 33);
    font-size: 12vh;
    text-align: center;
    line-height: 1;
    padding-top: 10%;
}
.bottom2{
    cursor: url(cursor3.png), auto;
    font-size: 4vh; 
    display: block;
    color:rgb(236, 91, 33); 
    font-family:'Apple Garamond';
    font-style: italic;
}
.tables {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Horizontally center the flex items */
    align-items: center;
    padding-left: 30px;
  }
.item1 {
cursor: url(cursor3.png), auto;
margin-right: 70px;
}

.p3{
    text-align: center;
    font-family: "Apple Garamond";
    font-size: 20px;
    color:rgb(236, 91, 33);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
}