body {background-color: rgb(242, 239, 226)}
@font-face {
    font-family: 'Apple Garamond';
    src: url('fonts/AppleGaramond.woff2') format('woff2'), url('fonts/AppleGaramond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Apple Garamond';
    src: url('fonts/AppleGaramondLight-Italic.woff2') format('woff2'),
        url('fonts/AppleGaramondLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Champion';
    src: url('fonts/Champion-HTF-Heavyweight.woff2') format('woff2'),
        url('fonts/Champion-HTF-Heavyweight.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .item {
    text-align: center;
    position: sticky;
    top: 0px;
    padding: 10px 0px;
}
 
.start {
    height: 100px;
}
 
.end {
    height: 500px;
}
  
  @keyframes spinType {
    0% {
      transform: rotate(0.5turn);
    }
    100% {
      transform: rotate(1turn);
    }
  }
  
  @keyframes yinyangSpin {
    0% {
      transform: rotate(0turn);
    }
    100% {
      transform: rotate(1turn);
    }
  }
  
  #svg {
    animation: yinyangSpin 5s infinite;
    height:250px;
  }
  
  #svg:hover {
    animation-play-state: paused;
  }
  
    .video-container {
      position: relative;
      width: 100%;
      overflow: hidden;
    }
    
    video {
      width: 100%;
      height: auto;
      object-fit:cover;
      z-index: -2;
    }
    .text-overlay{
      font-family: 'Champion';
      color:rgb(236, 91, 33);
      font-size: 12vh;
      position: absolute;
      top: 20%;
      text-align: center;
      line-height: 1;
    }
  
  h2{
    font-family: 'Apple Garamond';
    color:rgb(236, 91, 33);
    font-size: 80px;
    text-align: center;
    padding-top: 50px;
  }

  .paragraph-container{
    display: flex;
    padding: 50px;
    font-size:22px;
    font-family: 'Apple Garamond';
    color:rgb(236, 91, 33);
    text-align: justify;
    text-justify: inter-word;
    align-items: flex-start, center;
    justify-content: center;
    margin-top: 30px;

  }
  .left-paragraph {
    display: flex;
    width: 35%; 
    padding-left: 50px; 
    padding-right: 50px;
  }

  .right-paragraph {
    display: flex;
    width: 35%; 
    padding-left: 50px; 
    padding-right: 50px;
  }
  @media (max-width: 768px){
  .paragraph-container {
    display: flex;
    flex-wrap:wrap;
    flex-direction: column; 
  }
.left-paragraph, .right-paragraph {
  width:100%;
  margin-bottom:50px;
  padding:0;
}

}
  .marquee {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    overflow: hidden;
    background: rgb(236, 91, 33);
    font-family:'Apple Garamond';
    font-style: italic;
    color: rgb(248, 214, 233);
    font-size: 31px;
    white-space: nowrap;
    margin-top: 50px;
  }
  
  .marquee--inner {
    display: block;
    width: 200%;
    position: absolute;
    animation: marquee 25s linear infinite;
  }
  
  span {
    float: left;
    width: 50%;
    overflow: hidden;
  }
  
  @keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
  .normal{
    text-align: right;
    float: right;
    width: 35%; 
    padding-right: 200px;
    font-size: 22px;
    font-family: 'Apple Garamond';
  }

  .image-container{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 70px;

}
.invite:hover {
  -webkit-transform: rotate(15deg) scale(1);
  transition: all 1s ease;
}

  h3{
    font-family: 'Champion';
    font-size: 50px;
    color:rgb(236, 91, 33);
    text-align: center;
    text-justify: inter-word;
    line-height: 45px;
  }
  h3:hover{
    color:rgb(248, 214, 233);
    transition: transform 0.5s ease;
  }
  .notes{
    font-family: 'Champion';
    color:rgb(236, 91, 33);
    font-size: 30px;
    text-align: center;
  }
  .sunshine:hover{
    font-family: 'Apple Garamond';
    font-style: italic;
    color:rgb(236, 91, 33);
    font-size: 30px;
  }
  .glasses:hover{
    font-family: 'Apple Garamond';
    font-style: italic;
    color:rgb(236, 91, 33);
    font-size: 30px;
  }
  .faces:hover{
    font-family: 'Apple Garamond';
    font-style: italic;
    color:rgb(236, 91, 33);
    font-size: 30px;
  }
  .crying:hover{
    font-family: 'Apple Garamond';
    font-style: italic;
    color:rgb(236, 91, 33);
    font-size: 30px;
  }
  .reminiscing:hover{
    font-family: 'Apple Garamond';
    font-style: italic;
    color:rgb(236, 91, 33);
    font-size: 30px;
  }
  p2{
    font-family: 'Apple Garamond';
    font-style: italic;
    color:rgb(236, 91, 33);
    font-size: 100px;
    padding-top: 200px;
    padding-left: 50px;
  }
  p3{
    font-family: 'Champion';
    color:rgb(242, 239, 226);
    font-size: 60px;
    padding-left: 50px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:rgb(236, 91, 33);
  }
  .container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding:10px;
    min-height: 300px;
    
  }

  .checkers {
    position: relative;
    display: block;
    width: 100%;
}
.checkers .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.checkers:hover .img-top {
    display: inline;
}
  #final-remarks{
    width: 100%;
    padding-left: -50px;
  }