body{
    background-color: blue;
}
.time{
    color: pink;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-top: 45vh;
}
.wrapper{
    display:flex;
    justify-content: center;
    align-items: center;

}
button{
    border-radius: 30px;
    font-size: 100px;
    width: 50%;
    background-color: pink;
    padding: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
    position: absolute;
    left: 25%;
    top: 10%;
}