body {background-color: rgb(242, 239, 226);}
@font-face {
    font-family: 'Apple Garamond';
    src: url('fonts/AppleGaramond.woff2') format('woff2'), url('fonts/AppleGaramond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Apple Garamond';
    src: url('fonts/AppleGaramondLight-Italic.woff2') format('woff2'),
        url('fonts/AppleGaramondLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Champion';
    src: url('fonts/Champion-HTF-Heavyweight.woff2') format('woff2'),
        url('fonts/Champion-HTF-Heavyweight.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.item {
  text-align: center;
  position: sticky;
  top: 0px;
  padding: 10px 0px;
}

.start {
  height: 100px;
}

.end {
  height: 500px;
}

@keyframes spinType {
  0% {
    transform: rotate(0.5turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

@keyframes yinyangSpin {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

#svg {
  animation: yinyangSpin 5s infinite;
  height:250px;
}

#svg:hover {
  animation-play-state: paused;
}
.h1{
    line-height: 1;
    font-size: 5vw;
    color: rgb(236, 91, 33);
    font-family: 'Champion';
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}
.h2{
  font-size: 40px;
  color:rgb(236, 91, 33);
  font-family: 'Apple Garamond';
  font-style: italic;
}
    .container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 30vh;
      }
  
      /* Style for the message container */
      #message-container {
        position: absolute;
        top: 170%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        background-color:rgb(236, 91, 33);
        text-align: center;
        padding: 10px;
        border-radius: 50px;
        font-family: 'Champion';
        color:rgb(248, 214, 233);
        font-size: 30px;
      }