@font-face {
    font-family: 'Apple Garamond';
    src: url('fonts/AppleGaramond.woff2') format('woff2'), url('fonts/AppleGaramond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Apple Garamond';
    src: url('fonts/AppleGaramondLight-Italic.woff2') format('woff2'),
        url('fonts/AppleGaramondLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Champion';
    src: url('fonts/Champion-HTF-Heavyweight.woff2') format('woff2'),
        url('fonts/Champion-HTF-Heavyweight.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
body {
    background: rgb(242, 239, 226);
}
h1 {
    font-family: 'Apple Garamond';
    font-style: italic;
    color: rgb(236, 91, 33);
    font-size: 16vh;
    text-align: center;
}
h2{
    font-family: 'Apple Garamond';
    color: rgb(236, 91, 33);
    font-size: 4vh;
    text-align: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}
p{
    font-family: 'Champion';
    font-size: 30px;
    color:rgb(236, 91, 33);
}
.actions{
    display: flex;
    justify-content: center;
}
.actions button{
    padding: 8px 16px;
    font-size: 30px;
    border-radius: 10px;
    border-color:rgb(236, 91, 33) ;
    background-color: rgb(236, 91, 33);
    color: rgb(242, 239, 226); 
}
.grid-container {
    display: grid;
    justify-content: center;
    grid-gap: 16px;
    grid-template-columns: repeat(6, 140px);
    grid-template-rows: repeat(2, calc(140px / 2 * 3));
  }
  
  .card {
    height: calc(140px / 2 * 3);
    width: 140px;
    border-radius: 10px;
    border-color:rgb(236, 91, 33) ;
    background-color: rgb(236, 91, 33);
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
  }
  
  .front-image {
    width: 60px;
    height: 60px;
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .front, .back {
      backface-visibility: hidden;
      position: absolute;
      border-radius: 10px;
      border-color:rgb(236, 91, 33);
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
  }
  
  .card .front {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card .back {
    background-image: url("");
    background-position: center center;
    background-size: cover;
    backface-visibility: hidden;
  }
  
  .card .front {
    transform: rotateY(180deg);
  }