
.container {
    display: flex;
    padding:10px;
    background-color: #042135;
    min-height: 300px;
    font-family: 'PT Mono', monospace;
    color:  #042135;
    font-size:  36px;
    text-align:  center;
  }


